# Load data

In [1]:
from pathlib import Path
from mumin import MuminDataset

twitter_bearer_token = "AAAAAAAAAAAAAAAAAAAAAPhBdwEAAAAA8960MaR6BTtd9CDUHrfi2uaxYpU%3DrCAua60sKetPNDXBJjOg0plfXrQiw54We4OLTuI7gcMkHwuXZY"
size="medium"
dataset_file = f"mumin-{size}_no-images.zip"
dataset_path = Path("../../data") / dataset_file
include_tweet_images = False
dataset = MuminDataset(twitter_bearer_token=twitter_bearer_token, size=size, include_tweet_images=include_tweet_images, dataset_path=dataset_path)
dataset

/mnt/e/School Stuff/s2_uii/tesis/proposal/data/_build/pip_packages/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

MuminDataset(size=medium, compiled=False, bearer_token_available=True)

In [2]:
dataset.compile()

2022-07-01 13:36:53,511 [INFO] Loading dataset

MuminDataset(num_nodes=805,586, num_relations=1,061,640, size='medium', compiled=True, bearer_token_available=True)

# Get Tweets

In [3]:
tweet_df = dataset.nodes["tweet"]
tweet_df.dropna(inplace=True)
tweet_df.head()

,tweet_id,text,created_at,lang,source,num_retweets,num_replies,num_quote_tweets
0,1238795119572049920,à¤•à¥‰à¤°à¥‹à¤¨à¤¾ à¤µà¤¾à¤¯à¤°à¤¸ à¤«à¥‡à¤«à¤¡à¤¼à¥‹à¤‚ à¤®à¥‡à¤‚ à¤œà¤¾à¤¨à¥‡ à¤¸à¥‡ à¤ªà¤¹à¤²à¥‡ à¤¤à¥€à¤¨-à¤šà¤¾à¤° ...,2020-03-14 11:52:26,hi,Twitter for Android,6,0,1
1,1238947475471454220,Antes de llegar a los pulmones dura 4 dÃ­as en ...,2020-03-14 21:57:51,es,Twitter for Android,8,3,0
2,1295062953000042496,Aeroporto de Dubai em chamas. ðŸ¤•ðŸ˜§ https://t.co/...,2020-08-16 18:20:43,pt,Twitter for Android,6,0,5
3,1294614020008312832,Fogo ðŸ”¥ no aeroporto de Dubai ðŸ˜±ðŸ˜± https://t.co/2...,2020-08-15 12:36:49,pt,Twitter for Android,24,11,7
4,1294701863489744896,Fogo no aeroporto de Dubai. https://t.co/yhQDe...,2020-08-15 18:25:53,pt,Twitter for Android,14,7,4

In [4]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10134 entries, 0 to 10133
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          10134 non-null  uint64
 1   text              10134 non-null  object
 2   created_at        10134 non-null  datetime64[ns]
 3   lang              10134 non-null  category
 4   source            10134 non-null  object
 5   num_retweets      10134 non-null  uint64
 6   num_replies       10134 non-null  uint64
 7   num_quote_tweets  10134 non-null  uint64
dtypes: category(1), datetime64[ns](1), object(2), uint64(4)
memory usage: 643.6+ KB

In [5]:
tweet_df.lang.unique().size

47

In [6]:
"id" in tweet_df.lang.unique()

False

# Get claims

In [7]:
claim_df = dataset.nodes['claim']

In [8]:
claim_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5537 entries, 0 to 5536
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   embedding         5537 non-null   object
 1   label             5537 non-null   category
 2   reviewers         5537 non-null   object
 3   date              5537 non-null   datetime64[ns]
 4   language          5537 non-null   category
 5   keywords          5537 non-null   object
 6   cluster_keywords  5537 non-null   category
 7   cluster           5537 non-null   category
 8   train_mask        5537 non-null   bool
 9   val_mask          5537 non-null   bool
 10  test_mask         5537 non-null   bool
dtypes: bool(3), category(4), datetime64[ns](1), object(3)
memory usage: 211.7+ KB

In [9]:
claim_df.language.unique().size

37

In [17]:
"id" in claim_df.language.unique()

True

In [10]:
id_claims_df = claim_df.loc[claim_df.language == 'id', :]
id_claims_df.shape

(113, 11)

In [11]:
id_claims_df.head()

,embedding,label,reviewers,date,language,keywords,cluster_keywords,cluster,train_mask,val_mask,test_mask
149,"[-0.025578876957297325, 0.09601052105426788, -...",misinformation,[periksafakta.afp.com],2020-07-18,id,google apple remove palestine maps,,-1,True,False,False
152,"[-0.012159052304923534, 0.10657747834920883, -...",misinformation,[cekfakta.tempo.co],2020-07-18,id,palestine removed google maps,,-1,True,False,False
261,"[-0.09456656873226166, 0.061107587069272995, 0...",misinformation,[cekfakta.com],2021-03-08,id,people died covid 19 vaccine,coronavirus china covid 19 treatments recommended,0,True,False,False
308,"[-0.0038227590266615152, 0.15168921649456024, ...",misinformation,[cekfakta.com],2020-03-17,id,ronaldo turns hotel corona hospital,,-1,True,False,False
407,"[-0.06622577458620071, 0.06714311987161636, -0...",misinformation,[cekfakta.com],2021-02-15,id,rihanna holding national flag pakistan,,-1,True,False,False