# Load data

In [2]:
from pathlib import Path
from mumin import MuminDataset

twitter_bearer_token = "AAAAAAAAAAAAAAAAAAAAAPhBdwEAAAAA8960MaR6BTtd9CDUHrfi2uaxYpU%3DrCAua60sKetPNDXBJjOg0plfXrQiw54We4OLTuI7gcMkHwuXZY"
size="large"
dataset_file = f"mumin-{size}_no-images.zip"
dataset_path = Path("data") / dataset_file
include_tweet_images = False
dataset = MuminDataset(twitter_bearer_token=twitter_bearer_token, size=size, include_tweet_images=include_tweet_images, dataset_path=dataset_path)
dataset

MuminDataset(size=large, compiled=False, bearer_token_available=True)

In [3]:
dataset.compile()

2022-07-01 13:24:55,178 [INFO] Loading dataset

MuminDataset(num_nodes=1,636,198, num_relations=2,394,768, size='large', compiled=True, bearer_token_available=True)

# Get Tweets

In [4]:
tweet_df = dataset.nodes["tweet"]
tweet_df.dropna(inplace=True)
tweet_df.head()

,tweet_id,text,created_at,lang,source,num_retweets,num_replies,num_quote_tweets
0,1243046281326534661,To keep our upper respiratory tract healthy in...,2020-03-26 05:25:02,en,Hootsuite Inc.,96,6,6
1,1243148522209161217,Gargling salt water does not 'kill' coronaviru...,2020-03-26 12:11:18,en,Twitter for iPhone,7,0,0
2,1238795119572049920,कॉरोना वायरस फेफड़ों में जाने से पहले तीन-चार ...,2020-03-14 11:52:26,hi,Twitter for Android,6,0,1
3,1238947475471454220,Antes de llegar a los pulmones dura 4 días en ...,2020-03-14 21:57:51,es,Twitter for Android,8,3,0
4,1239128401115516929,So they say the first symptons are #coughing\n...,2020-03-15 09:56:47,en,Twitter for Android,10,2,1

In [5]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24536 entries, 0 to 24535
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          24536 non-null  uint64
 1   text              24536 non-null  object
 2   created_at        24536 non-null  datetime64[ns]
 3   lang              24536 non-null  category
 4   source            24536 non-null  object
 5   num_retweets      24536 non-null  uint64
 6   num_replies       24536 non-null  uint64
 7   num_quote_tweets  24536 non-null  uint64
dtypes: category(1), datetime64[ns](1), object(2), uint64(4)
memory usage: 1.5+ MB

In [6]:
tweet_df.lang.unique().size

55

In [7]:
"id" in tweet_df.lang.unique()

False

# Get claims

In [8]:
claim_df = dataset.nodes['claim']

In [9]:
claim_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12885 entries, 0 to 12884
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   embedding         12885 non-null  object
 1   label             12885 non-null  category
 2   reviewers         12885 non-null  object
 3   date              12885 non-null  datetime64[ns]
 4   language          12885 non-null  category
 5   keywords          12885 non-null  object
 6   cluster_keywords  12885 non-null  category
 7   cluster           12885 non-null  category
 8   train_mask        12885 non-null  bool
 9   val_mask          12885 non-null  bool
 10  test_mask         12885 non-null  bool
dtypes: bool(3), category(4), datetime64[ns](1), object(3)
memory usage: 491.6+ KB

In [10]:
claim_df.language.unique().size

41

In [11]:
"id" in claim_df.language.unique()

True

In [13]:
id_claims_df = claim_df.loc[claim_df.language == 'id', :]
id_claims_df.shape

(328, 11)

In [14]:
id_claims_df.head()

,embedding,label,reviewers,date,language,keywords,cluster_keywords,cluster,train_mask,val_mask,test_mask
151,"[-0.025578876957297325, 0.09601052105426788, -...",misinformation,[periksafakta.afp.com],2020-07-18,id,google apple remove palestine maps,,-1,True,False,False
154,"[-0.012159052304923534, 0.10657747834920883, -...",misinformation,[cekfakta.tempo.co],2020-07-18,id,palestine removed google maps,,-1,True,False,False
263,"[-0.09456656873226166, 0.061107587069272995, 0...",misinformation,[cekfakta.com],2021-03-08,id,people died covid 19 vaccine,coronavirus china covid 19 treatments recommended,0,True,False,False
310,"[-0.0038227590266615152, 0.15168921649456024, ...",misinformation,[cekfakta.com],2020-03-17,id,ronaldo turns hotel corona hospital,,-1,True,False,False
409,"[-0.06622577458620071, 0.06714311987161636, -0...",misinformation,[cekfakta.com],2021-02-15,id,rihanna holding national flag pakistan,,-1,True,False,False